lab08/sources/EndpointsWSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.bartoszek.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.bartoszek.com" xmlns:intf="http://services.bartoszek.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.bartoszek.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insertClient">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="surname" type="xsd:string"/>
      <element name="clientNumber" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertClientResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertClientResponse">

      <wsdl:part element="impl:insertClientResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertClientRequest">

      <wsdl:part element="impl:insertClient" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EndpointsWSImpl">

      <wsdl:operation name="insertClient">

         <wsdl:input message="impl:insertClientRequest" name="insertClientRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertClientResponse" name="insertClientResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EndpointsWSImplSoapBinding" type="impl:EndpointsWSImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertClient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertClientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertClientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EndpointsWSImplService">

      <wsdl:port binding="impl:EndpointsWSImplSoapBinding" name="EndpointsWSImpl">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/EndpointsWSImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
